---
layout: default
header-image: /images/yoga1.jpg
banner-supheading: Welcome to
banner-heading: The Yoga Studio
banner-subheading:
classes:
  - name: Bikram Hot Yoga
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident!
  - name: Mandala Yoga
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident!
  - name: Chakra Flow
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident!
  - name: Vinyasa Yoga
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident!
---
<!-- default includes nav and header banner -->

<!-- index grid -->

<section class="bg-orange grid grid-cols-2 items-center gap-[1px] border-t border-b border-orange">
    <!-- first row -->
    <div class="text-orange bg-beige min-h-screen p-10p flex items-end">
        <div class="pr-5p">
            <h2 class="editable font-oranienbaum text-4xl pb-5">Duis Aute Irure</h2>
            <p class="font-poppins editable pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident! Autem temporibus a quo placeat sed dolorem incidunt quidem quas quod, minima nihil facilis ducimus, expedita fuga eaque architecto.</p>
            <a href="#" class="bg-orange text-white font-poppins px-5 py-1">Sign Up</a>
        </div>
    </div>
    <img src="/images/yoga2.jpg" class="object-cover object-top inset-0 w-full h-full max-h-screen">

    <!-- second row -->
    <div class="flex items-end min-h-screen bg-cover bg-center inset-0 w-full h-full" style="background-image: url(/images/yoga3.jpg);">
        <div class="p-10p">
            <h3 class="editable font-oranienbaum text-4xl text-white pb-5">Our Classes</h3>
            <p class="font-poppins editable text-white pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem magnam molestiae quisquam distinctio magni tempore, eveniet libero. Labore accusamus non optio porro placeat numquam fuga totam minima perspiciatis harum.</p>
            <a href="#" class="bg-orange text-white font-poppins px-5 py-1">Find Out More</a>
        </div>
        
    </div>
    <div class="grid grid-cols-2 gap-[1px] bg-orange min-h-screen">
        {% for item in page.classes %}
        <div class="flex items-end bg-beige">
            <div class=" text-orange p-5p">
                <h3 class="font-oranienbaum text-xl">{{item.name}}</h3>
                <p class="font-poppins">{{item.description}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>

</section>


<!-- Testimonials section -->
<section class="p-5p bg-beige">
    <h2 class="font-oranienbaum text-4xl text-orange pb-5p">Testimonials</h2>
    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll pl-1 pr-0 relative">
        {% for item in site.data.testimonials %}

            {% include testimonial-loop-item.html %}

        {% endfor %}
    </div>
</section>
