    <div class="shrink-0 basis-30p border-2 border-orange">
        <div class="relative break-inside-avoid">
            <div class=" relative min-h-50 border border-orange  m-5">
                <img src="{{item.image}}" class="absolute inset-0 w-full h-full object-cover object-center">
            </div>
            <h4 class="font-oranienbaum text-xl uppercase text-center pb-3 border-b border-orange text-orange ">{{item.name}}</h4>
        </div>

        <div class="p-5 text-center">
            <p class="font-poppins text-sm text-center text-orange">{{item.description}}</p>
            <a href="/schedule.html" class="bg-orange text-white font-poppins px-5 py-1 justify-center uppercase">Sign Up</a>
        </div>
    </div>
