<section class="flex flex-col min-h-[100vh] bg-cover bg-center relative" style="background-image: url({{page.header-image}});">

    <nav class="flex items-center justify-between text-orange px-5p mt-5">

        <div class="">
            <a href="/index" class="font-oranienbaum text-3xl border-b border-transparent">The Yoga Studio</a>
        </div>

        <div class="font-poppins grow uppercase text-right space-x-2 ">

            {% for item in site.data.nav %}
            <a href="{{item.link}}" class="text-left inline-block px-5p ">{{item.name}}</a>
            {% endfor %}

        </div>
    </nav>

    <div class="flex grow items-center p-5p">
        <div class="max-w-2xl">
            <h2 class="text-orange font-light font-poppins uppercase">{{page.banner-supheading}}</h1>
            <h1 class="text-orange font-oranienbaum tracking-widest font-light text-6xl">{{page.banner-heading}}</h1>
        </div>
    </div>
</section>