<section class="flex flex-col h-[100vh] bg-cover bg-center relative" style="background-image: url({{page.header-image}}); background-position: 65% 50%;">

    {% include header-nav.html %}

    <div class="flex flex-col justify-center grow">
        <hr class="border border-orange pl-0 mb-5">
        <div class="px-10p">
            <h2 class="text-orange font-light font-poppins uppercase tracking-widest">{{page.banner-supheading}}</h1>
            <h1 class="text-orange font-oranienbaum tracking-widest font-light text-7xl">{{page.banner-heading}}</h1>
        </div>
    </div>
</section>