<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>

        {% include header-banner.html %}

        {{ content }}

    <footer class="bg-orange text-white p-5p grid grid-cols-5 gap-5 uppercase text-sm">
        <div class="">
            <p>Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
        </div>
        <div class="">
            <p>Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
        </div>
        <div class="">
            <p>Lorem Ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
        </div>

        <div class="shrink-0 text-right col-span-2 flex justify-end">
            <div>
                <label for="email" class="block">Subscribe to our newsletter</label>
                <input type="email" id="email" name="email" required class="text-white border border-white mt-3 w-full">
                <button type="submit" class="block ml-auto border text-white bg-orange border-white hover:text-orange hover:bg-white hover:border-white transition px-4 py-1 tracking-widest uppercase">Subscribe</button>
            </div>
        </div>
    </footer>
</body>
</html>